html,
body {
    background: var(--c-primary) !important;
    background-color: var(--c-primary) !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


.ant-menu-item-selected {
    background-color: transparent !important;
}

:root {
    /* Custom ALert Colors */

    --c-success: #16c79a;
    --c-info: #aed6f1;
    --c-warning: #ffac41;
    --c-danger: #f78b89;

    /* Custom ALert Colors */

    --c-primary: #9dc5bb;
    --c-green: #16c79a;
    --c-transparentGreen: rgba(22, 199, 154, 0.6);
    --c-container: #3b3b3b;
    --c-border: #353c46;
    --c-white: #ffff;
    --c-transparentWhite: rgba(255, 255, 255, 0.6);
    --c-orange: #ffac41;
    --c-fticon: #ffac41;
    --c-body-text-color: #353c46;
}

.ant-spin-dot-item {
    background-color: var(--c-border) !important;
}

.follower:root {
    --c-fticon: var(--c-orange);
    --c-hover: var(--c-green);

    /* width */

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    /* Track */

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px grey;
        border-radius: 10px;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
        background: var(--c-orange);
        border-radius: 10px;
    }
}

.trader:root {
    --c-fticon: #16c79a;
    --c-hover: var(--c-orange);

    /* width */

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    /* Track */

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px grey;
        border-radius: 10px;
    }

    /* Handle */

    ::-webkit-scrollbar-thumb {
        background: #16c79a;
        border-radius: 10px;
    }
}

table {
    border-collapse: separate;
    border-spacing: 0 5px !important;
}

.ant-card-head {
    border-bottom: none !important;
}
